h1,h2,h3,p,html,body {
    margin: 0;
    padding: 0;
}

body {
    font-family: open sans,sans-serif;
    color: #FFF;
    text-align: center;
}
main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
main section, main h1 {
    align-self: center;
    z-index: 5;
    position: relative;
    max-width: 1024px;
}
.main-header {
    font-weight: 900;
    font-size: 4em;
    margin: 0.5em 0;
}

.section-header {
    font-family: 'lato',sans-serif;
    font-size: 1.875em;
    margin: 60px 0;
}

.header-gradient {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-item--container {
    padding: 1rem;
    background: #3ea76a52;
    display: flex;
    border-radius: 16px;
    border: 1px solid #053318;
    width: 80%;
    margin-bottom: 60px;
    align-items: center;
}

.about-item--container:nth-child(odd) {
    float: right;
}

.about-name {
    margin-left: 24px;
    font-size: 4rem;
    color: #24af60;
}

.about-icon--container {
    width: 64px;
}

.about-icon {
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    background-position: center;
    background-repeat: no-repeat;
}

.brush {
    background-image: url('img/brush_black_24dp.svg');
}

.count {
    background-image: url('img/pin_black_24dp.svg');
}

.add {
    background-image: url('img/add_black_24dp.svg');
}


.about-description {
    margin-left: 24px;
    font-size: 20px;
    line-height: 150%;
    color: #70f3a9;
}

.buttons-container {
    gap: 30px;
    display: flex;
}